<blockquote class="blogroll-link-snippet">
    <p>
        <a class="blogroll-link-snippet-title"
           href="{{Link}}">{{Title}}</a>
    </p>
    <quote class="blogroll-link-snippet-contents">{{{Content}}}</quote>
</blockquote>