<h2>Sign in to manage your blogroll</h2>

<form asp-controller="Account" asp-action="SignIn" method="post" class="form-inline">
    <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" id="password"/>
    </div>
    <input type="submit" class="btn btn-primary" value="Sign in"/>
</form>