<div class="form-group">
    <label for="Url">Blog address</label>
    <input type="text" name="Url" id="Url" class="form-control" required placeholder="https://blog.example.com"
           value="{{Url}}"/>
</div>
<div class="form-group">
    <label for="Name">Blog name</label>
    <input type="text" name="Name" id="Name" class="form-control"
           value="{{Name}}"/>
</div>
<div class="form-group">
    <label for="Name">Feed url (if known)</label>
    <input type="text" name="FeedUrl" id="FeedUrl" class="form-control" placeholder="https://blog.example.com/feed.rss"
           value="{{FeedUrl}}"/>
</div>